.laminate{
    max-width: var(--main-size);
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 50px;
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .info{
            width: 45%;
        }
        .img{
            width: 45%;
        }
    }
    .order{
        padding-top: 50px;
        font-size: 20px;
        text-align: center;
    }
}