.laminate {
  max-width: var(--main-size);
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 50px;


  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;
    .info {
      width: 45%;
      h3 {
        font-size: 20px;
        font-weight: 700;
      }
      p {
        font-size: 17px;
        text-indent: 26px;
        text-align: left;
        line-height: 28px;
        margin-bottom: 10px;
      }
    }
    .img {
      width: 45%;
      img {
        width: 100%;
      }
    }
  }
  .order {
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--red-color);
  }
  .example {
    // margin-top: 50px;
    padding-bottom: 50px;

    .nav{
      display: flex;
      flex-direction: column;
      // margin-top: 10px;
      position: fixed;
      top: 200px;
      left: 70px;
      a{
        color: #000;
        font-size: 16px;
        opacity: .8;
        transition: .35s;
        padding: 5px;
        margin-bottom: 10px;
      }
      a:hover{
        opacity: 1;
        color: var(--red-color);
      }
    }
    
    .item {
      margin-top: 25px;
      padding-bottom: 25px;
      border-bottom: 2px solid var(--red-color);
      .info { 
        .text{
          text-align: center;
          h3 {
            font-size: 20px;
          }
          p {
            font-size: 18px;
          }
        }
        .main {
          text-align: center;
          margin-top: 10px;
          padding-bottom: 10px;
          img{
            height: 600px;
          }
          p{
            width: 80%;
            margin: 0 auto;
            line-height: 22px;
            font-size: 16px;
          }
        }
      }
      .images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img{
          width: 460px;
          margin: 5px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1550px){
  .laminate{
    .example{
      .nav{
        display: block;
        position: static;
        padding-top: 10px;
        background-color: #fff;
      }
    } 
  } 
}

@media screen and (max-width: 980px){
  .laminate{
    .content{
      flex-direction: column-reverse;
      .info{
        width: 80%;
      }
      .img{
        width: 60%;
      }
    }
  } 
}

@media screen and (max-width: 600px){
  .laminate{
    .content{
      .img{
        width: 100%;
      }
    }
  } 
}