.Contact{
  padding-bottom: 100px;
  .title{
    max-width: var(--main-size);
    margin: 0 auto;
    margin-bottom: 30px;
    border-bottom: 3px solid var(--red-color);
    h2{
      font-size: 30px;
      display: inline-block;
      position: relative;
      top: 19px;
      left: 100px;
      padding: 0 10px;
      color: var( --yellow-color);
      background-color: #fff;
      text-transform: uppercase; 
    }
  }
  .content{
    max-width: var(--main-size);
    margin: 0 auto;
    .map{
      display: flex;
      justify-content: space-between;
      align-items: center;
        iframe{
          // max-width: 1240px;
        }
        img{
          width: 50%;
          height: 50%;
          border: 1px solid black;
          border-radius: 10px;
          margin-right: 10px;
        }
    }
  .social{
    padding-top: 50px;
    ul{
      li{
        transition: .3s;
        a{
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 22px;
          color: #000;
          img{
            width: 40px;
            height: 40px;
            margin-left: 20px;
          }
        }
      }
      li:hover{
        opacity: .8;
      }
    }
  }
      
  }
}