

.webpack{
  display: none;
}

.header_wrapper{
 
  header{
    // padding-top: 25px;
    // max-width: var(--main-size);
    // margin: 0 auto;
    // height: 10vh;
    // display: flex;
    // flex-direction: column;
    
   
    
    .items_wrapper{
      
      .items{
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;
        position: absolute;
        left: 0;
        right: 0;

        .items_top, .items_bottom{
          display: flex;
          a{
            overflow: hidden;
            .item{
              width: 33.33vw;
              min-height: 250px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: .3s;
              p{
                color: #D2001A;
                font-size: 24px;
                text-transform: uppercase;
                font-weight: 500;
                transition: .3s;
              }  
              
            }   
            .item:hover{
              transform: scale(1.1);
              p{
                color: #FFDE00;
              }
            }
          }
        }
      }
    }
    #wood{
      // background: url('assets/images/header_bg.jpg') ;
      background: 
		    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35),), 
		    url('images/wood.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 50vw;
      height: 450px;
    }
    #metal{
      background: 
        linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35),), 
		    url('images/metal.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 50vw;
      height: 450px;
    }
    #portal{
      background: 
      linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35),), 
        url('images/portal.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    #laminat{
      background: 
      linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35),), 
        url('images/laminate.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    #ceiling{
      background: 
      linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35),), 
        url('images/ceiling.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    
  }
}
