.Promotion{
    padding-bottom: 100px;
    background-color: #EFEFEF;
    .title{
      max-width: var(--main-size);
      margin: 0 auto;
      margin-bottom: 30px;
      border-bottom: 3px solid var(--red-color);
      h2{
        font-size: 30px;
        display: inline-block;
        position: relative;
        top: 19px;
        left: 100px;
        padding: 0 10px;
        color: var( --yellow-color);
        background-color: #EFEFEF;
        text-transform: uppercase; 
      }
    }
    .content{
      max-width: var(--main-size);
      margin: 0 auto;
      .slider_wrapper, .not_slider{
        .item{
          display: block;
          .item_content{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px;
            img{
              width: 40px;
              height: 40px;
              margin-left: 20px;
              margin-right: 20px;
            }
            p{
              font-size: 22px;
              font-weight: 700;
            }
          }
          
        }
      }
      .not_slider{
        display: none;
      }
    }
  }

@media screen and (max-width: 1290px){
  .Promotion{
    .content{ 
      .slider_wrapper{
        max-width: 90%;
        margin: 0 auto;
        .item{
          .item_content{
            padding: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 730px){
  .Promotion{
    .content{
      .slider_wrapper{
        display: none;
      }
      .not_slider{
        display: block;
      }
    }
  }
}
