:root{
  --red-color: #D2001A;
  --yellow-color: #FFDE00;
  --white-color : #FFFAE7;
  --gray-color: #EFEFEF;

  --main-size: 1240px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  ul{
    list-style-type: none;
  }
  a{
    text-decoration: none;
  }
}